main,
header,
nav,
aside,
main section,
footer,
nav div{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
}

main section div,
main section h2,
footer div,
main section form
{
    grid-column: 1/13;
}

body{
    background-color: rgb(224, 219, 219);
}
header{
    background-color: coral;
}

main{
    min-width: 100vh;
    
}

.main{
    background-color: rgb(224, 219, 219);
    grid-column: 4/13;
}

aside{
    background-color: yellow;
    min-width: 100vh;
    grid-column: 1/4;
}

.footer{
    width: 100%;
  height: 60px;
  background-color: #174873;
  color: white;
  grid-column: 1 / 13;
  column-count: 5;
}

.contenedorFlexbox{
    display: flex;
    flex-wrap: wrap;
}

body > img{
    object-fit: fill;
    width:100%;
    height: 400px; 
}

.filterForm{
    margin: 5px 0 0 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

#buscador{
    border: solid black 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#buscador:focus{
    background-color: rgb(162, 238, 213);
}

#buscador:disabled{
    background-color: rgb(119, 111, 111);
}

#botonBuscar{
    width: 100px;
    height: 50px;
    color: white;
    background-image: -webkit-linear-gradient(to bottom, #d84c4c, #c35bec);
    background-image: -moz-linear-gradient(to bottom, #d84c4c, #c35bec);
    background-image: -ms-linear-gradient(to bottom, #d84c4c, #c35bec);
    background-image: -o-linear-gradient(to bottom, #d84c4c, #c35bec);
    background-image: linear-gradient(to bottom, #d84c4c, #c35bec);
}

.formularios{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.izq,.der{
    float: left;
    margin-right: 20px;
}

input[name="nombre"]{
    border: dotted blue 1px;
}

input[name="email"]{
    border: dashed green 1px;
}

input[name="password"]{
    border: double red 1px;
}

input[name="number"]{
    border: groove orangered 1px;
}

input[name="color"]{
    border: inset olive 1px;
}

input[name="date"]{ 
    border: none;
}



